---
lang: <%= language %>
copyright: <%= license.copyright %>
footnote: My language is set to <%= language %>
lodash: <%= i18n[language].title %>
---
<h1>{{i18n "title"}}</h1>
<p>{{i18n "description"}}</p>
<p id='lodash-parsed'>{{lodash}}</p>
<footer>
  <small>{{ footnote }}</small>
  <p>{{ copyright }}</p>
  <p>{{ footnote }}</p>
  <p>Available languages:</p>
  <ul>
    {{#each i18n.languages}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</footer>
